* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #1b1919;
  font-size: 18px;
  line-height: 1.36;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1140px;
  min-height: 534px;
  align-items: stretch;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  width: 711px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex-grow: 1;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 0;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
  flex-shrink: 0;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 0 0 30px 0;
  margin: 0;
}

.content__list-item {
  padding: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid transparent;
  padding: 0;
}

.content__card-link_current .content__video-card {
  border: none;
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  width: 196px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
  padding: 3px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  min-inline-size: 399px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  flex-shrink: 0;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  margin: 0;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2.5px 0;
  min-width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  cursor: pointer;
  background-color: transparent;
  padding: 6px 73.5px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  width: 100%;
  flex-shrink: 0;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
  border: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active .content__video-card {
  background-color: #545050;
  border-color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__list-container::-webkit-scrollbar {
  width: 5px;
}

.content__list-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.content__list-container::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
